@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "Rubik",sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #1A1A1A;
}
.header{
    position: fixed;
    width: 100%;
}
.header__logo{
    text-decoration: none;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    padding: 24px 140px;
    background: rgba(26, 26, 26, 0.65);
}
.header__logo-description{
    color: rgba(246, 246, 246, 0.50);
    font-size: 12px;
    font-weight: 300;
}
.menu__items{
    display: flex;
    gap: 32px;
}
.menu__item{
    list-style-type: none;
}
.menu__item-link{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
}
.header__phone{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: auto;
}
.header__submit-btn{
    color: #F79C1B;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #F79C1B;
    background: rgba(196, 196, 196, 0.00);
    padding: 8px 30px;
}
.content__head,
.content__head-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__head{
    background-image: url("../img/baner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 718px;
    gap: 47px;
}
.content__head-banner{
    background: rgba(26, 26, 26, 0.65);
    color: #FFFFFF;
    gap: 20px;
    padding: 32px;
    max-width: 700px;
}
.content__head-banner-title{
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}
.content__head-banner-text_regular{
    text-align: center;
    font-size: 20px;
    width: 500px;
    font-weight: 300;
}
.content__head-banner-text_bold{
    font-size: 18px;
    font-weight: 600;
}
.btn_yellow{
    color: #F6F6F6;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.32px;
    text-decoration: none;
    background: #F79C1B;
    padding: 9px 52px;
    text-align: center;
}
.content__top{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap:80px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 88px;
}
.product__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.product__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product__description{
    max-width: 360px;
}
.product__description-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.product__description-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 4px;
}
.product__description_medium{
    max-width: 560px;
}
.content__request{
    margin-top: 160px;
}
.request__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.request__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 512px;
    background: #EBEBEB;
}
.request__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.request__description{
    max-width: 440px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}
.request__form{
    display: flex;
    align-items: center;
    gap: 15px;
}
.request__form-field{
    color: rgba(26, 26, 26, 0.50);
    border: 1px solid #F79C1B;
    background: rgba(196, 196, 196, 0.00);
    transition: border 0.5s ease;
    padding-left: 30px ;
    width: 229px;
    height: 46px;
}
.request__form-submit{
    border: 1px solid;
    color: #F6F6F6;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.32px;
    background: #F79C1B;
    width: 260px;
    height: 50px;
}
.content__material-product{
    margin-top: 170px;
}
.content__info{
    margin-top: 160px;
}
.info-about__section{
    display: flex;
}
.info-about__text{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-about__title,
.info-about__description{
    max-width: 360px;
}
.info-about__text_container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.info-about__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.info-about__description{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.info-about__description-text{
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.info-about__btn{
    width: 127px;
}
.info-about__section_revers{
    flex-direction: row-reverse;
}
.info-about__background{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 720px;
}
.info-about__background_section-one{
    background-image: url("../img/info-1.jpg");
}
.info-about__background_section-two{
    background-image: url("../img/info-2.png");
}
.info-about__background_section-three{
    background-image: url("../img/info-3.png");
}


