@import url('fonts.css');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "Rubik",sans-serif;
}
.header{
    position: fixed;
    width: 100%;
}
.header__logo{
    text-decoration: none;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    padding: 20px 140px;
    background: rgba(26, 26, 26, 0.65);
}
.header__logo-description{
    color: rgba(246, 246, 246, 0.50);
    font-size: 12px;
    font-weight: 300;
}
.menu__items{
    display: flex;
    gap: 30px;
}
.menu__item{
    list-style-type: none;
}
.menu__item-link{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.header__phone{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: auto;
}
.header__submit-btn{
    color: #F79C1B;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #F79C1B;
    background: rgba(196, 196, 196, 0.00);
    padding: 6px 22px;
}
.content__head,
.content__head-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__head{
    background-image: url("../img/baner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 718px;
    gap: 47px;
}
.content__head-banner{
    background: rgba(26, 26, 26, 0.65);
    color: #FFFFFF;
    gap: 10px;
    padding: 32px;
    max-width: 760px;
}
.content__head-banner-title{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
.content__head-banner-text_regular{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
.content__head-banner-text_bold{
    font-size: 18px;
    font-weight: 600;
}
.btn_yellow{
    color: #F6F6F6;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.32px;
    text-decoration: none;
    background: #F79C1B;
    padding: 9px 52px;
}