@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "Rubik",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #1A1A1A;
}
.banner,
.banner__content,
.request__container,
.info-about__text,
.footer__container,
.product,
.request__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header__logo{
    text-decoration: none;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    padding: 24px 140px;
    background: rgba(26, 26, 26, 0.65);
    white-space: nowrap;
    transition: background-color 0.3s ease;
}
.logo__description{
    color: rgba(246, 246, 246, 0.50);
    font-weight: 300;
}
.menu__icon{
    display: none;
}
.menu__items{
    display: flex;
    gap: 32px;
}
.menu__item{
    list-style-type: none;
}
.menu__item-link{
    cursor: pointer;
    color: #ffffff;
    transition: text-shadow 0.3s, text-decoration-color 0.3s, color 0.3s ;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-size: 16px;
}
.menu__item-link:hover{
    color: #F79C1B;
    text-shadow: 0 0 0.65px #ff9900, 0 0 0.65px #ff9900;
    text-decoration-color: initial;
}
.header__phone{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: auto;
    transition: color 0.5s ease;
}
.header__phone:hover{
    color: #F79C1B;
}
.header__submit-btn{
    color: #F79C1B;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #F79C1B;
    background: rgba(196, 196, 196, 0.00);
    padding: 8px 30px;
    transition: background .5s ease, color .5s ease ;
}
.header__submit-btn:hover{
    color: #FFFFFF;
    background: #F79C1B;
}
.banner{
    background-image: url("../img/baner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 718px;
    gap: 47px;
}
.banner__content{
    background: rgba(26, 26, 26, 0.65);
    color: #FFFFFF;
    gap: 20px;
    padding: 32px 18px;
    max-width: 700px;
}
.banner__content-title{
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner__content-text_regular{
    text-align: center;
    font-size: 20px;
    width: 500px;
    font-weight: 300;
}
.banner__content-text_bold{
    font-size: 18px;
    font-weight: 600;
}
.btn_yellow{
    color: #F6F6F6;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.32px;
    text-decoration: none;
    background: #F79C1B;
    border: 1px #F79C1B solid;
    padding: 9px 52px;
    text-align: center;
    transition: color 0.5s ease, background 0.5s ease;
}
.btn_yellow:hover{
    color: #F79C1B;
    background: #FFFFFF;
}
.content{
    display: flex;
    flex-direction: column;
    gap:80px;
}
.content_pt{
    padding-top: 160px;
}
.product{
    gap: 88px;
}
.product__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.product__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}
.card:hover .card__img,
.card:hover .card__img_medium {
    transform: scale(1.05);
}
.card__img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.card__img,
.card__img_medium{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}
.card:hover .card__description-title,
.card:hover .card__description-text{
    color: #F79C1B;
}
.card__description{
    max-width: 360px;
}
.card__description-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transition: color 0.3s ease;
}
.card__description-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 4px;
    transition: color 0.3s ease;
}
.card__description_medium{
    max-width: 560px;
}
.request_mt{
    margin-top: 160px;
}
.request__text{
    gap: 18px;
}
.request__container{
    gap: 32px;
    height: 512px;
    background: #EBEBEB;
}
.request__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.request__description{
    max-width: 440px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}
.request__form{
    display: flex;
    align-items: center;
    gap: 15px;
}
.request__form-field{
    color: rgba(26, 26, 26, 0.50);
    border: 1px solid #F79C1B;
    background: rgba(196, 196, 196, 0.00);
    transition: border 0.5s ease;
    padding-left: 30px ;
    width: 229px;
    height: 46px;
}
.request__form-field:hover{
    border: 1px solid #ffffff;
}
.request__form-submit{
    border: 1px solid;
    color: #F6F6F6;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.32px;
    background: #F79C1B;
    width: 260px;
    height: 50px;
    cursor: pointer;
    transition: color .5s ease, background .5s ease;
}
.request__form-submit:hover{
    color: #F79C1B;
    background: #FFFFFF;
}
.product_mt{
    margin-top: 170px;
}
.content__info{
    margin-top: 160px;
}
.info-about {
    display: flex;
    min-height: 722px;
}
.info-about_mt{
    margin-top: 160px;
}
.info-about__text{
    width: 50vw;
    background: #EBEBEB;
}
.info-about__title,
.info-about__description{
    max-width: 360px;
}
.info-about__text-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 0;
}
.info-about__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.info-about__description{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.info-about__description-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.info-about__btn{
    width: 127px;
}
.info-about_revers{
    flex-direction: row-reverse;
}
.info-about__background{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
}
.info-about__background_section-one{
    background-image: url("../img/medium-1.jpg");
}
.info-about__background_section-two{
    background-image: url("../img/medium-2.png");
}
.info-about__background_section-three{
    background-image: url("../img/medium-3.png");
}
.footer{
    margin: 160px 0;
}
.footer__container{
    gap: 82px;
}
.footer__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.footer__items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px 222px;
    flex-wrap: wrap;
    max-width: 1000px;
}
.footer__item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer__item-text{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 8px;
}
.footer__item-text-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.footer__item-text-bottom{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
@media (max-width: 1320px){
    .header__container{
        padding: 13px 24px;
    }
}
@media (max-width: 1024px) {
    .footer__items {
        padding: 0 20px;
    }
}
@media (max-width: 1089px){
    .btn_yellow {
        font-size: 14px;
        padding: 3px 32px;
    }
    .menu__items,
    .header__phone,
    .header__submit-btn{
        display: none;
    }
    .header__container {
        padding: 13px 10px;
    }
    .menu__icon {
        width: 30px;
        height: 14px;
        cursor: pointer;
        position: relative;
        display: block;
    }
    .menu__icon span {
        background-color: #FFFFFF;
        height: 1px;
        position: absolute;
        width: 100%;
        left: 0;
        transition : all 0.3s ease;
    }
    .menu__icon span:first-child {
        top: 0;
    }
    .menu__icon span:nth-child(2) {
        top: 6px;
    }
    .menu__icon span:last-child {
        top: 12px;
    }
    .menu__icon:hover span:nth-child(2) {
        opacity: 0;
    }
    .menu__icon:hover span:first-child,
    .menu__icon:hover span:last-child {
        top             : 6px;
        background-color: #F79C1B;
    }
    .menu__icon:hover span:first-child {
        transform: rotate(45deg);
    }
    .menu__icon:hover span:last-child {
        transform: rotate(-45deg);
    }
}
@media (min-width: 781px) {
    .hide-on-large-screen {
        display: none;
    }
}
@media (max-width: 780px){
    .header{
        z-index: 3;
    }
    .banner__content{
        background: none;
    }
    .banner{
        position: relative;
        z-index: 2;
    }
    .banner__content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        z-index:-1;
    }
    .request__form {
        flex-direction: column;
    }
    .info-about_mt{
        margin-top: 60px;
    }
    .info-about__text{
        width: 100vw;
    }
    .info-about {
        position: relative;
        min-height: 412px;
    }
    .info-about__background{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
    }
    .info-about__background_section-one {
        background-image: url(../img/medium-1.jpg);
    }
    .info-about__background_section-two {
        background-image: url(../img/medium-2.png);
    }
    .info-about__background_section-three {
        background-image: url(../img/medium-3.png);
    }
    .info-about__text-container {
        align-items: center;
        z-index: 1;
    }
    .info-about__title,
    .info-about__description{
        text-align: center;
    }
    .info-about:nth-child(odd) .info-about__text-container,
    .info-about:nth-child(odd) .info-about__description-text{
        color: #FFFFFF;
    }
    .info-about:nth-child(odd) .info-about__text-container {
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
    }
    .info-about:nth-child(even) .info-about__text-container {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
    }
    .footer__item {
        align-items: center;
    }
    .footer__item-text {
        text-align: center;
    }
}
@media (max-width: 577px){
    .banner__content{
        padding: 32px 0;
    }
    .card__description_medium{
        max-width: 360px;
    }
}
@media (max-width: 490px){
    .content{
        gap: 60px;
    }
    .content_pt{
        padding-top: 60px;
    }
    .banner {
         gap: 0;
        justify-content: center;
        align-items: center;
        height: 563px;
    }
    .banner__content{
        padding: 32px 18px;
    }
    .banner__content-title{
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }
    .banner__content-text_regular{
        font-size: 12px;
        line-height: 18px;
        width: 271px;
    }
    .banner__content-text_bold{
        color: rgba(246, 246, 246, 0.50);
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
    }
}
@media (max-width: 390px){
    .request__text{
        gap: 0;
    }
    .request__form{
        gap: 12px;
    }
    .content{
        gap: 24px;
    }
    .product{
        padding: 0 10px;
        gap: 24px;
    }
    .product__title{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
    }
    .card{
        width: 300px;
        gap: 18px;
    }
    .card__description,
    .card__description_medium{
        max-width: 320px;
    }
    .card__description-title{
        font-size: 14px;
        font-weight: 500;
        line-height: 26.5px;
    }
    .card__description-text{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }
    .product_mt,
    .request_mt{
        margin-top: 60px;
    }
    .request__container{
        height: 321px;
        padding: 0 60px;
    }
    .request__title{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
    }
    .request__description{
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
    .request__form-field {
        padding-left: 30px;
        width: 170px;
        height: 40px;
    }
    .request__form-submit {
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.24px;
        width: 204px;
        height: 40px;
    }
    .info-about__text-container{
        gap: 30px;
    }
    .info-about__title{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px
    }
    .info-about__description-text{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        width: 300px;
    }
    .btn_yellow{
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.24px;
    }
    .footer{
        margin:60px 0;
    }
    .footer__container {
        gap: 40px;
    }
    .footer__title{
        font-size: 18px;
    }
    .footer__item-text {
        text-align: center;
        line-height: 18px;
    }
    .footer__item-text-title {
        font-size: 14px;
        line-height: 20px;
    }
    .footer__item-text-bottom {
        font-size: 12px;
    }
    .footer__item-img{
        width: 40px;
        height: 40px;
    }
    .footer__items {
        gap: 20px;
        padding: 0 30px;
    }
}